@charset "UTF-8";

#wrap {margin:0 auto; width:100%;}
#wrap #border {height: 100px; border-bottom: 1px solid #D3D3D3;}
#wrap #border #header{width:1100px; height: 100px; margin:0 auto;}

/* 메뉴 로고 */
#wrap #border #header #logo_box {float:left; width: 100px; height: 100px; }
#wrap #border #header #logo_box > a > img {padding: 10px;}

/* 메뉴 */
#wrap #border #header #menu_box {float:left; width: 700px; height: 100px;}
#wrap #border #header #menu_box #nav ul > li > a {float:left; padding-left: 30px; line-height:100px; text-align:center; color:#000; font-family: 'Malgun Gothic'; font-size:15px;font-weight:400;transition:all .3s;}
#wrap #border #header #menu_box #nav ul > li > a:hover {color:#ED1C24; font-weight:600;}

/* 로그인 메뉴 부분 */
#wrap #border #header #login_box {float:right; width: 300px; height: 100px;}
#wrap #border #header #login_box ul > li > a {float:left; padding-right: 30px; line-height:100px; text-align:center; color:#000; font-family: 'Malgun Gothic'; font-size:15px;font-weight:400;transition:all .3s;}

/* main */
#wrap #main {width: 1100px; margin: auto;}
#wrap #main #banner {width: 1100px; height: 450px; position: relative; overflow: hidden; background-color: gray;}
#wrap #main #banner #slide {width: 1100px; height: 450px; position: absolute; overflow: hidden;}
#wrap #main #banner #slide > li {width: 1100px; height: 450px; position: relative; overflow: hidden;}
#wrap #main #awards {margin-top: 50px; height: 400px;}
#wrap #main #awards .awards_box {height: 350px; width: 271px; float: left; margin-top: 20px; background-color: antiquewhite; border: 1px solid black;}
#wrap #main #serialization {margin-top: 50px;}
#wrap #main #serialization > ul {}
#wrap #main #serialization > ul > li {float: left;}
#wrap #main #serialization #tab_mon {height: 640px;}
#wrap #main #serialization #tab_mon .tab_box {height: 300px; width: 215px; float: left; margin-top: 20px; background-color: blanchedalmond; border: 1px solid black;}
#wrap #main #e_banner {margin-top: 80px; height: 188px;}
#wrap #main #e_banner > img {float: left;}
#wrap #main #book {margin: 50px auto; height: 350px;}
#wrap #main #book .book_box {height: 300px; width: 215px; float: left; margin-top: 20px; background-color: blanchedalmond; border: 1px solid black;}

/* mypage */
#wrap #my_main {width: 1100px; height: 650px; margin: 50px auto; border: 1px solid #D3D3D3; border-radius: 20px;}
#wrap #my_main #my_category{width: 150px; height: 650px; background-color: #ED1C24; border-radius: 20px 0px 0px 20px; float: left;}
#wrap #my_main #my_see{width: 900px; height: 650px;}


/* footer */
#wrap #footer {height : 150px; background-color: rgb(58, 58, 58); padding: 50px;}
#wrap #footer #f_box {height: 150px; width: 1100px; background-color: rgb(58, 58, 58); margin: auto;}
#wrap #footer #f_box #f_logo {height: 150px; width: 200px; background-color: #ED1C24; float: left;}
#wrap #footer #f_box #f_intro {height: 150px; width: 900px;}
#wrap #footer #f_box #f_intro > p {font-size: 12px; color: #fff;}